<div class="row">
  <div class="span12">
    <div class="box">
      <p>Checkout complete!</p>
      <p>A tax-deductible receipt has been sent to your email address.</p>
      <p>A voucher for the products/services you purchased has been sent to the patient.<p>
      <p>Thank you for Giving through the Elixir Fund!</p>
    </div>
  </div>
</div>
