<% present product do |p| %>
  <div class="media" id="<%= dom_id product %>">
    <div class="media-object pull-left">
      <% p.image %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= p.title %></h4>
      <p>
        <%= link_to t('label.view_product'), product, :class => "btn btn-info" %>
        <%= p.remove_from_wishlist %>
      </p>
    </div>
  </div>
<% end %>
