<div class="media" id="<%= dom_id product %>">
  <img class="media-object pull-left" src="http://placehold.it/64x64"/>
  <div class="media-body">
    <h4 class="media-heading"><%= product.title %></h4>
    <%= link_to t('label.view_product'), product, :class => "btn btn-info btn-mini" %> <%= link_to t('label.remove_product_from_wishlist'), remove_product_account_wishlist_path(:product_id => product.id), :method => :delete, :class => "btn btn-danger btn-mini" %>
  </div>
</div>
