<div class="box">
  <h2>My Wishlist</h2>

    <% if @wishlist.products.any? %>
      <%= render :partial => 'products/product', :collection => @wishlist.products %>
    <% else %>
      <div class="box">
        <p class="lead"><%= I18n.t('messages.no_products_available') %></p>
      </div>
    <% end %>
</div>
