<div class="box">
  <h1>Get to know Elixir Fund</h1>

  <h2>Our Mission</h2>
  <p class="lead">The Elixir Fund is a nonprofit organization dedicated to improving the comfort and care of cancer patients and their caregivers.</p>

  <p>Elixir Fund’s goal is to reduce the stress associated with treatment and provide support so that patients and caregivers can take a break from cancer. We provide amenities and develop programs in hospitals such as our Movies and Music and Mini Makeovers. We support individuals by helping them to identify and access services such as meals, transportation, and complementary therapies such as yoga, massage, and meditation, that will relieve the side effects of treatment and ease the cancer journey.</p>

  <p class="lead">If you or a loved one is diagnosed with cancer, we can help.</p>

  <h2>Our Story</h2>
  <img class="hidden-phone img-circle pull-right" src="assets/aboutImg1.jpg" alt="Kevin McQuarrie"/>
  <p class="lead">The Elixir Fund is inspired by Kevin McQuarrie and his unique, life-affirming approach to cancer treatment. Even while enduring two years of almost continual treatment, Kevin embraced life and approached his therapies with an inspirational outlook.</p>

  <div class="thumbnail pull-left">
    <img class="hidden-phone" src="assets/aboutImg2.jpg" alt="Kevin McQuarrie"/>
  </div>

  <p>Kevin, a massage therapist, had seen clients and friends go through chemotherapy and always thought it was something he would never want to do. So when he was diagnosed with cancer, he thought about refusing treatment. In the end, after friends and family rallied around him, Kevin decided to try chemotherapy. Yet it still had a negative connotation. To give it a more positive spin, Kevin decided to call it his “Elixir.” He asked his family, friends, doctors, and nurses to call it that as well, and gently corrected them when they forgot. This was the beginning of a philosophy that sustained him, and those around him, throughout his journey.</p>

  <p>During his hospital stays, Kevin surrounded himself with amenities that not only made him more comfortable, but also allowed him to focus on life beyond cancer. This included a DVD player, movies, CDs, a special reclining chair, a personal blanket, and decorations for the walls. He found these items relieved many of the physical and mental stresses associated with treatment.</p>

  <img class="hidden-phone img-rounded pull-right" src="assets/aboutImg3.jpg" alt="Kevin McQuarrie"/>
  
  <p>Kevin also relied on the support of friends and family who not only provided the amenities for the hospital, but also visited him, massaged him, and boosted his spirits with humor. He felt strongly that all of these things helped him to stay positive, avoid feeling sick, and make the most of his life during and in between hospital stays.</p>

  <p>Throughout all of his treatments, which included 6 rounds of chemotherapy, stem cell, gamma knife, and almost four months of radiation, Kevin led an active life and was rarely sick. He laughed often and lived life to the fullest. Kevin did not view his treatment as a battle, but rather he often referred to cancer as “the greatest gift in really ugly wrapping.” Although Kevin passed away in 2003, his family and friends do not view this as a loss, rather we are grateful for the incredible memories of laughter, love, and peace; his spirit is still very much with us.</p>

  <p>Kevin considered himself extremely lucky for all that he received. He wanted to give something back by providing support and supplying comfort items to other cancer patients. The Elixir Fund has been created to do just that.</p>

  <h2>Board of Directors</h2>
  <div class="thumbnail pull-left span4">
    <img class="hidden-phone" src="assets/aboutImg4.jpg" alt="The Board of Directors"/>
    <p class="muted">From Left to Right – David DeLuise, honorary board member; Gary Potter, West Coast Event Co-chair; Meg McQuarrie, chair of the board; Tim Jones, secretary; Carol DeLuise, honorary board member; Nancy Murphy Gilarde, Chief Financial Officer; and Jeff Goldberg, board member</p>
  </div>

  <h3>Meg McQuarrie</h3>

  <p>Chief Executive Officer, and Chair of the Board. She is also Kevin’s sister and was with him throughout his treatment. Meg has a Bachelor’s Degree from the University of Rhode Island and a Master’s Degree from Duke University in Coastal Geology. Meg has worked in the nonprofit sector, in scientific research, and as a Community College Instructor.</p>

  <h3>Nancy Murphy</h3>

  <p>Chief Financial Officer and Kevin’s friend since first grade. Nancy has been a caregiver to many friends and family who have dealt with cancer treatment. She has a BS in Management, with a concentration in Finance from Boston College. Nancy has several years experience in both the for-profit and non-profit sectors.</p>

  <h3>Tim Jones</h3>

  <p>Secretary and friend of Kevin’s. Tim has a bachelor’s degree in biological science with a minor in Medical Technology. He holds two licenses, as Medical Technologist; generalist American Society of Clinical Pathology and as Clinical Scientist I, Generalist for the State of California.</p>

  <h3>Jeff Goldberg</h3>

  <p>Board Member and schoolmate of Kevin’s. He is currently President of IncuMed LLC. Jeff’s undergraduate degree is from Harvard and he graduated from UCLA Law School in 1991.</p>

  <h2>Honorary Board Members</h2>
  <h3>Carol DeLuise</h3>

  <p>Has spent a lifetime in the entertainment industry on television, in movies, and in the theater. She is a great supporter of the arts and many other philanthropic causes. Carol and her family were dear friends of Kevin McQuarrie and have been supporters of the Elixir Fund since its inception. We are so grateful for all of their friendship and support.</p>

  <h3>David DeLuise</h3>

  <p>Friend of Kevin’s, star of the Emmy Award Winning Disney show The Wizards of Waverly Place, and just all around wonderful supporter of the Elixir Fund.</p>
</div>