<div class="box">
  <h1>The Elixir Fund Registry, the perfect answer to "How Can I help?"</h1>
  <p>
    So often when a person is diagnosed with cancer there is an outpouring of love and 
    support from friends, family, and members of the community. A common response is 
    "Let me know what I can do to help."  Few well-meaning friends and relatives realize 
    that this comment can put a lot of pressure on patients and caregivers who find it difficult 
    to verbalize what is needed and who do not want to impose on friends and family. 
    Patients &amp; caregivers have told us many times that it was difficult to ask for help but 
    when it was received, they realized not only how meaningful it was, but also how 
    great it made them feel. 
  </p>
  <p>
    Friends and family do not always realize how emotionally and physically draining 
    treatment can be. Often those going through treatment feel guilty keeping friends at bay 
    or do not know how to say they are tired when a visit has gone too long. They may find it 
    difficult to return phone calls and emails.  
  </p>
  <p>
    The Elixir Fund Registry is the perfect answer for the patients and caregivers who do not 
    know how or what to ask for. It provides direction for well-meaning friends and family or 
    those separated by distance to offer support in a constructive and non-intrusive manner.  
    It also creates an opportunity for those whose lives may have been touched by cancer in 
    the past, or who want very much to have a positive impact on the lives of patients who 
    may be strangers, to give anonymously.  For those who struggle to find the right words, 
    just the click of a button speaks volumes. 
  </p>

  <h1>How to Use the Registry:</h1>

  <h2>For Patients/Caregivers</h2>

  <p>
    <div class="number-header">1</div> You will need to create an account in order to create a wishlist. . Once you reply 
    to your confirmation email, you can begin setting up your wishlist by choosing from 
    the available goods &amp; services in your area. 
    <p class="indented-text">
      -It would be good if someone else, such as your primary caregiver, has your login 
      information as well.  This way he or she can add items or services which would be of 
      help to both of you, and can help to update the list.
    </p>
  </p>
  <p>
    <div class="number-header">2</div> You will need to create a bio for your account. Only your first name &amp; last initial 
    and whatever image you would like to use (you do not have to use a picture) will 
    appear on the web page.
    <p class="indented-text">
      -If you ONLY want your friends and family to view the wishlist, then mark your 
      wishlist as private. 
    </p>
    <p class="indented-text">    
      -If you would like the Elixir Fund community to help fulfill your wishlist, then you 
      can make it public. 
    </p>
    <p class="indented-text">    
      You can also create separate bios- the one that your friends &amp; family will see in 
      which you may wish to include more details, and the one that the public will see 
      (you may want to include fewer details). You can share whatever information, as 
      much or as little, as you would like in either bio.
    </p>
  </p>
  <p>
    <div class="number-header">3</div> Begin searching for businesses and services that are available in your area, and 
    start creating your wishlist. You can also customize your list with items such as 
    "rides to treatment," "carpool for my children," etc. Your friends who "purchase"
    these items will send you a message to arrange to fulfill these wishes.
  </p>
  <p>
    <div class="number-header">4</div> Invite your friends and family to "view your wishlist." If Friends and Family have 
    not been invited to view your wishlist, then they can only see the public portion of 
    your list. This does not include customized options. Only friends &amp; family that you 
    invite can see your private bio and your customizable options.
  </p>
  
  <h2>For Friends &amp; Family</h2>

  <p>
    <div class="number-header">1</div> You will not be able to purchase an item until you create an account and confirm 
    your account through the link that will be sent to you in an email
  </p>
  <div class="clear"></div>  
  <p>
    <div class="number-header">2</div> If you are “invited” to view a wish list you will be able to see both items to be 
    purchased, as well as ‘customized” items. 
  </p>
  <div class="clear"></div>
  <p>
    <div class="number-header">3</div> If you “purchase” a customized item, you must contact the owner of the wishlist 
    to arrange to fulfill those items.
  </p>
  <br /><br />
  &nbsp;
</div>

<br /><br />