<div class="hero-unit">
  <img class="hidden-phone" src="/assets/elixir-logo-square.jpg" alt="Elixir Fund" />
  <h1>Contact Elixir Fund</h1>
  <p>P.O. Box 326<br/>Princeton Jct., NJ 08550</p>
  <p>
    <strong>Phone </strong>: <span class="hidden-phone">(800) 494-9228</span><span class="visible-phone"><a href="tel:800-494-9228">(800) 494-9228</a></span></br>
    <strong>Email </strong>: <a href="mailto:contact@elixirfund.org">contact@elixirfund.org</a><br/>
    <strong>Website </strong>: <a href="http://www.elixirfund.org">http://www.elixirfund.org</a><br/>
  <p>
</div>