<div class="hero-unit">
    <h1>Everyone Deserves Comfort and Care</h1>
    <p>Elixir Fund is dedicated to improving the comfort and care of cancer patients and their caregivers. Our programs are designed to help you live a full and rich life during treatment and beyond. If you or a loved one has cancer, we can help.</p>
    <p>
      <%= link_to t('label.learn_more'), pages_path('about'), :class => "btn btn-info btn-large"%> 
      <% if !user_signed_in? %><%= link_to t('button.user.start_giving').html_safe, new_user_registration_path, :class => "btn btn-primary btn-large" %><% end %>
    </p>
</div><!--hero-unit-->

<div id="pitch-boxes" class="row">
    <div class="span4">
      <h2><img class="pull-right home-icon" src="/assets/home-mission.jpg" alt="Mission" />Our Mission</h2>
      <p>Elixir Fund provides comfort and support to cancer patients and their caregivers.</p>
      <p><a class="btn" href="about">Read More &raquo;</a></p>
    </div>
    <div class="span4">
      <h2><img class="pull-right home-icon" src="/assets/home-caregiver-support.jpg" alt="Mission" />Patient Support</h2>
      <p>Elixir Fund helps to ease the cancer journey so that patients may live a full and rich life during treatment.</p>
      <p><a class="btn" href="patients">Help a Patient Now &raquo;</a></p>
   </div>
    <div class="span4">
      <h2><img class="pull-right home-icon" src="/assets/home-patient-support.jpg" alt="Mission" />Donate Today</h2>
      <p>Help a patient diagnosed with cancer.</p>
      <p><a class="btn" href="products">View products &raquo;</a></p>
    </div>
</div><!--row-->
