<div class="hero-unit">
    <img class="hidden-phone" src="/assets/istock-2women.jpg" alt="Cancer Patients" />
    <h1>Welcome To Elixir Fund</h1>
    <p>Elixir Fund is dedicated to improving the comfort and care of cancer patients and their caregivers. Our programs are designed to help you live a full and rich life during treatment and beyond. If you or a loved one has cancer, we can help.</p>
    <p><a class="btn btn-info btn-large">Learn more</a> <%= link_to t('button.user.start_giving').html_safe, new_user_registration_path, :class => "btn btn-primary btn-large" %></p>
</div><!--hero-unit-->

<div id="pitch-boxes" class="row">
    <div class="span4">
      <h2><img class="pull-left home-icon" src="/assets/home-mission.jpg" alt="Mission" />Our Mission</h2>
      <p>Elixir Fund provides comfort and support to cancer patients and their caregivers.</p>
      <p><a class="btn" href="about">Read More &raquo;</a></p>
    </div>
    <div class="span4">
      <h2><img class="pull-left home-icon" src="/assets/home-patient-support.jpg" alt="Mission" />Patient Support</h2>
      <p>Elixir Fund helps to ease the cancer journey so that patients may live a full and rich life during treatment.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="span4">
      <h2><img class="pull-left home-icon" src="/assets/home-caregiver-support.jpg" alt="Mission" />Caregiver Support</h2>
      <p>If a loved one is diagnosed with cancer, Elixir Fund can help.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div><!--row-->
