<style>
  body { text-align:center; font-family: Arial; background: url(http://www.cheesesurvivalkit.com/images/bg-body.jpg) repeat; }
  h1 { font-size: 80px; color: #888; font-family:Caudex; }
</style>

<h1>Elixir Fund</h1>
<h2>Coming Soon</h2>
<a href="/admin">Admin Control Panel</a>
