<% present(patient, PatientPresenter) do |patient_presenter| %>
  <div class="span2">
    <ul class="profile">
      <li class="avatar"><%= patient_presenter.avatar %></li>
      <li class="name"><%= patient_presenter.link_to %></li>
      <li class="location"><%= patient_presenter.location %></li>
    </ul>
  </div>
<% end %>
