<% present(patient, PatientPresenter) do |patient_presenter| %>
  <ul id="profile">
    <li class="name"><%= patient_presenter.name %></li>
    <li class="avatar"><%= patient_presenter.avatar %></li>
    <li class="location"><%= patient_presenter.location %></li>
    <li class="profile"><%= patient_presenter.link_to %></li>
  </ul>
<% end %>
