<table width="100%">
  <tr>
    <td width="100%" align="center">
      <img src="http://www.elixirfund.org/wp-content/uploads/2011/06/logo1.png" alt="elixir Fund Logo" />
      <p>Someone has fulfilled one of your Special Request Items through Elixir Fund Giving!<br/>
      </p>
      <table>
        <tr>
          <td><h3><%= @line_item.name %></h3></td>
        <tr>
      </table>    
    </td>
  </tr>
</table>
