// Place all the styles related to global styles and utility classes here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.clear { 
  clear: both; 
}

body {
  font-family: 'Domine', serif; font-weight:400;
  background: #f6f3f1 url('bg-body.jpg') repeat;
}

#main-content.container { padding-top: 90px; }

h1, h2 { font-family: 'Satisfy', cursive; }
h3,h4,h5 {
  font-weight:700;
  color:#002f57;
}

h1 { 
  @include border-radius(5px);
  background:#fff;
  text-align:center;
  line-height:70px;
  font-size:38px;
  margin-bottom:30px;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

a {
  color:#8ec73f;
  &:hover {
    color:#66a016;
    text-decoration:none;
  }
}

.navbar {
  .navbar-inner {
    background:#f9f9f8;
  }
  a.brand {
    width:250px;
    height:40px;
    padding:10px 50px 10px 0;
    margin:0;
    display:block;
    text-indent:-9999px;
    background:url('elixir-logo.png') 0 10px no-repeat;
  }
  .nav > li > a {
    color:#53b9d7;
    font-weight:bold;
    &:hover {
      color:#002f57;
    }
  }
}

.box {
  @include border-radius(5px);
  background-color: #fff;
  padding: 20px;  
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

div.row {
  form {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="submit"], 
    input[type="number"],
    input[type="tel"],
    textarea {
      @include box-sizing;
      height: 30px;
    }
    textarea { height: 120px; }
    input[type="submit"] {
      margin-top: 20px;
    }
    label {
      display: inline;
    }
  }
}
.input-append { width: 100%; }

#nav-divider { padding:10px 0; }
.gutter { margin-bottom: 30px; }

.media {
  margin-bottom: 30px;
  min-height: 150px;
  .media-object {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url("logo1.png");
    background-position: 0px 0px;
    background-size: auto 102px;
    img {
      width: inherit;
      height: inherit;
    }
  }
  .media-body {
    min-height: 100px;
  }
}

.text-warning { color: #C09853; }
.text-error { color: #B94A48; }
.text-info { color: #3A87AD; }
.text-success { color: #468847; }

.pagination {
  @include border-radius(5px);
  margin: 0px auto 30px;
  padding: 5px;
  display: block;
  text-align: center;
  background-color: white;
  span { 
    @include border-radius(5px);
    border: none; 
    display: block;
  }
  a { border:none; }
}

footer { 
  height:auto;
  padding:20px 0;
  margin-top:30px;
  background: #eee;
  border-top:1px solid #fff;
  .logo {
    width: 88px;
    height: 88px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    background-image: url("logo1.png");
    background-position: 0px 0px;
  }
}
