.company-details {
  float: right;
  width: 50%;
  text-align:left;
  display: inline;
}

.company-image {
  background-image: url('/assets/elixir-logo-square.jpg');
  background-position: 35px 85px;
  background-size: 300px 200px;
  background-repeat: no-repeat;
  img {
    width: 100%;
  }
}
