a.patient {
  display:block;
  text-decoration: none;
}

ul.profile {
  list-style: none;
  @include box-style;
  margin: 0 0 20px;
  padding: 0px;
  cursor: pointer;
  &:hover {
    position:relative;
    top:-1px;
    -moz-box-shadow: 0 1px 6px #aaa;
    -webkit-box-shadow: 0 1px 6px #aaa;
    box-shadow: 0 1px 6px #aaa;
  }
  li {
    padding: 0 12px 10px 12px;
    font-size: 12px;
    line-height: 14px;
    &:first-child {
      padding-top: 10px;
    }
    &.name {
      font-size: 14px;
      font-weight: bold;
    }
    &.avatar {
      img {
        height: 116px; width: 116px; 
        background-image: url('/assets/home-caregiver-support.jpg');
        background-position: 42px 42px;
        background-repeat: no-repeat;
        text-align: center;
        line-height: 120px;
        font-size: 10px;
        color: #555;
      }
    }
    a {
      text-decoration: none;
    }
  }
}

.patient {
  .box { min-height: 200px; }
  .links { text-align: center; }
  .patient-avatar {
    width: 200px;
    height: 200px;
    float: right;
    background-image: url('/assets/home-caregiver-support.jpg');
    background-position: 84px 84px;
    background-repeat: no-repeat;
    img {
      width: 100%;
    }
  }
}

.half { 
  overflow: auto;
  .half { 
    width: 46%; 
    display: inline-block; 
    overflow: hidden;
    float: left;
    margin-left: 2%;
    &.right { 
      float: right;
      margin-right: 2%;
    }
  }
}
.state, #patient_state, .zip { display: inline-block!important; }
#patient_state, .state { width: 39%!important; }
.zip { width: 59%!important; }
