ul.profile {
  list-style: none;
  margin-left: 0;
  min-height: 200px;
  li {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    padding: 0;
    &.name {
      font-size: 14px;
      font-weight: bold;
    }
    &.avatar {
      height: 120px;
      width: 100%;
      background-color: #bbb;
      text-align: center;
      line-height: 120px;
      font-size: 10px;
      color: #555;
    }
  }
}
