ul.product {
  list-style: none;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 0px;
  border-radius: 4px;
  position:relative;
  height: auto;
  display:block;
  li {
    padding: 0 10px 8px 10px;
    font-size: 12px;
    line-height: 14px;
    &:first-child {
      padding-top: 10px;
    }
    &.name {
      font-size: 14px;
      font-weight: bold;
    }
    &.product-list-image {
      height: 150px;
      width: 150px;
      background-image: url("logo1.png");
      background-position: 0px 0px;
      background-size: auto 170px;
      float:right;
      margin:10px;
      display:block;
    }
    &.product-link {
      a {
      width:100px;
      position:absolute;
      left:10px;
      bottom:10px;
      }
    }
    &.add-to-wishlist {
      a {
        position:absolute;
        left:150px;
        bottom:10px;      
      }
    }
  }
}
.input-append {
  width: 100%;
  input {
    width: auto!important;
  }
}
.details {
  margin-top: 30px;
  .people, .company {
    background-repeat: no-repeat;
    background-position: 0px 4px;
    padding-left: 36px;
  }
  .people { background-image: url("/assets/home-patient-support.jpg"); }
  .company { background-image: url("/assets/home-caregiver-support.jpg"); }
  .btn { margin-bottom: -10px; }
}

.media {
  margin-bottom: 30px;
  .media-object {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-image: url("logo1.png");
    background-position: 0px 0px;
    background-size: auto 102px;
    img {
      width: inherit;
      height: inherit;
    }
  }
}