ul.product {
  list-style: none;
  background-color: #fff;
  margin-bottom: 20px;
  padding: 0px;
  border-radius: 4px;
  position:relative; 
  li {
    padding: 0 12px 10px 12px;
    font-size: 12px;
    line-height: 14px;
    &:first-child {
      padding-top: 10px;
    }
    &.name {
      font-size: 14px;
      font-weight: bold;
    }
    &.product-list-image {
      height: 200px;
      width: 200px;
      background-color: #bbb;
      float:right;
      margin:10px;
    }
    &.product-link {
      a {
      width:100px;
      position:absolute;
      left:10px;
      bottom:10px;
      }
    }
    &.add-to-wishlist {
      a {
        position:absolute;
        left:110px;
        bottom:10px;      
      }
    }
  }
}
