<%= form_for(@products, :as => :products, :url => products_path, :method => "get") do |f| %>
  <div class="input-append">
    <%= f.text_field :search, :size => '20', :value => params[:products][:search].empty? ? '' : params[:products][:search] %>
    <%= button_tag "Search", :type => 'submit', :class => "btn" do %>
      <i class="icon-search"></i>
    <% end %>
  </div>
<% end %>
