<%= form_for(@products, :url => products_path, :method => "get") do |f| %>
  <%= f.text_field :search %>
  <%= f.submit "Search", :class => "btn" %>
<% end %>

<form>
<div class="input-append">
  <input type="text">
  <button class="btn" type="button"><i class="icon-search"></i></button>
</div>
</form>