<h1>Elixir Fund Gifts</h1>
<% if @products.any? %>
  <div class="row">
    <%= render :partial => 'products/product', :collection => @products %>
  </div><!--row-->
<% else %>
  <%= I18n.t('messages.no_products_available') %>
<% end %>
<h2>Product Finder</h2>
<%= render 'search' %>
<!-- Insert Kaminari Pagination -->