<script type="text/javascript">
  $(function() {

    var $sidebar   = $("#find"), 
        $window    = $(window),
        offset     = $sidebar.offset(),
        topPadding = 70;

    $window.scroll(function() {
        if ($window.scrollTop() > offset.top) {
            $sidebar.stop().animate({
                marginTop: $window.scrollTop() - offset.top + topPadding
            });
        } else {
            $sidebar.stop().animate({
                marginTop: 0
            });
        }
    });
    
});
</script>

<h1>Elixir Fund Gifts</h1>

<div class="row">
  <div class="span9">
    <% if @products.any? %>
      <%= render :partial => 'products/product', :collection => @products %>
    <% else %>
      <%= I18n.t('messages.no_products_available') %>
    <% end %>
  </div><!--span9-->
  <div class="span3" id="find">
    <div class="box">
      <h2><%= t('label.find_a_product') %></h2>
      <%= render 'search' %>
    </div><!--box-->
  </div><!--span3-->
</div><!--row-->

<!-- Insert Kaminari Pagination -->
