<h1>Elixir Fund Gifts</h1>

<div class="row">
  <div class="span8">
    <% if @products.any? %>
    <div class="row">
      <%= render :partial => 'products/product', :collection => @products %>
    </div><!--row-->
    <% else %>
      <%= I18n.t('messages.no_products_available') %>
    <% end %>
  </div><!--span8-->
  <div class="span4">
    <div class="box">
      <h2><%= t('label.find_a_product') %></h2>
      <%= render 'search' %>
    </div><!--box-->
  </div><!--span4-->
</div><!--row-->

<!-- Insert Kaminari Pagination -->
